In [2]:
import numpy as np
import pandas as pd
import os

In [ ]:
csv_list = [pd.read_csv(os.path.join('annotations', csv_path)) for  csv_path in os.listdir('annotations') if 'csv' in csv_path]

[    start_time    end_time  Unnamed: 2
 0     5.806313    8.515085         NaN
 1    27.865350   37.578987         NaN
 2    62.965099   75.023727         NaN
 3    91.927505   94.748935         NaN
 4   106.595844  115.091001         NaN
 5   130.894835  137.714275         NaN
 6   157.082767  159.469279         NaN
 7   171.925400  176.025737         NaN
 8   202.841496  218.818901         NaN
 9   246.655724  249.144648         NaN
 10  250.408045  254.971016         NaN
 11  263.113466  266.882776         NaN
 12  280.895421  284.749733         NaN
 13  300.654187  305.285588         NaN
 14  324.072720  331.629767         NaN
 15  358.975147  362.173076         NaN
 16  381.883862  386.851393         NaN
 17  478.553935  484.086378         NaN
 18  502.280588  506.294620         NaN
 19  531.647131  534.809586         NaN
 20  551.178159  554.860711         NaN
 21  569.594669  572.506380         NaN
 22  584.013602  598.294705         NaN
 23  619.410023  628.692947         NaN
 24  648.307786  650.845738         NaN
 25  663.203841  672.401981         NaN
 26  688.285253  695.123197         NaN
 27  711.515542  713.881471         NaN
 28  727.905700  730.623481         NaN
 29  760.247374  763.406219         NaN
 30  770.179770  776.944160         NaN
 31  797.693761  801.033697         NaN
 32  819.266195  835.678679         NaN
 33  858.847389  862.025190         NaN
 34  876.785642  881.863674         NaN,
      start_time     end_time  Unnamed: 2
 0      4.220474    17.265099         NaN
 1     38.451591    43.447445         NaN
 2     63.151813    68.100734         NaN
 3     89.458978    94.107372         NaN
 4    119.343177   122.597019         NaN
 5    143.990095   147.891650         NaN
 6    154.179887   160.787228         NaN
 7    183.031548   192.724717         NaN
 8    211.615727   220.686195         NaN
 9    239.949784   244.749374         NaN
 10   247.961646   253.221985         NaN
 11   274.693034   279.405634         NaN
 12   293.593823   302.420483         NaN
 13   319.197203   322.273788         NaN
 14   356.616926   363.983415         NaN
 15   380.073424   383.906421         NaN
 16   397.010888   402.766740         NaN
 17   428.095773   434.586741         NaN
 18   450.890886   454.707336         NaN
 19   461.038785   468.064160         NaN
 20   489.510334   495.474723         NaN
 21   515.194262   519.902263         NaN
 22   541.650596   547.897443         NaN
 23   559.899924   563.614982         NaN
 24   566.987578   579.493077         NaN
 25   608.821029   613.730749         NaN
 26   624.885125   635.177085         NaN
 27   659.707902   667.775310         NaN
 28   685.841300   689.517273         NaN
 29   692.758280   699.356986         NaN
 30   726.752233   730.415888         NaN
 31   748.112191   753.904541         NaN
 32   768.409937   772.676691         NaN
 33   792.590274   797.635607         NaN
 34   811.290943   815.799852         NaN
 35   821.342666   825.754624         NaN
 36   845.756735   849.733409         NaN
 37   853.041684   860.761379         NaN
 38   906.807046   919.282621         NaN
 39   940.098623   945.619509         NaN
 40   951.131161   958.629239         NaN
 41   975.525785   980.454486         NaN
 42   985.684862   992.764576         NaN
 43  1020.158792  1024.284929         NaN
 44  1029.867208  1037.455173         NaN
 45  1057.545377  1064.422441         NaN
 46  1083.596365  1089.020403         NaN
 47  1113.378515  1123.091176         NaN
 48  1133.380030  1138.084719         NaN,
      start_time     end_time  Unnamed: 2
 0      3.196297    11.736503         NaN
 1     20.623408    25.786356         NaN
 2     42.822903    48.453670         NaN
 3     53.547693    60.197362         NaN
 4     85.937364    90.615823         NaN
 ..          ...          ...         ...
 85  2441.449444  2445.859800         NaN
 86  2470.230536  2475.885605         NaN
 87  2487.189367  2490.205395         NaN
 88  2496.549741  2506.933421         NaN
 89  2531.802252  2536.262212         NaN

 [90 rows x 3 columns],
      start_time     end_time  Unnamed: 2
 0     21.992296    27.404093         NaN
 1     45.617100    50.070592         NaN
 2     74.725864    78.083190         NaN
 3     83.686471    95.088677         NaN
 4    115.364011   118.429239         NaN
 ..          ...          ...         ...
 74  2280.284549  2297.952479         NaN
 75  2321.855357  2325.958670         NaN
 76  2332.173807  2339.523868         NaN
 77  2361.432970  2367.817449         NaN
 78  2388.305053  2396.334518         NaN

 [79 rows x 3 columns],
      start_time     end_time  Unnamed: 2
 0     26.245694    55.785068         NaN
 1     76.251489    79.395263         NaN
 2     94.976929   105.115545         NaN
 3    133.839105   143.943621         NaN
 4    161.101766   164.135938         NaN
 ..          ...          ...         ...
 67  2309.191405  2321.529572         NaN
 68  2332.805694  2336.405694         NaN
 69  2353.864149  2357.771074         NaN
 70  2371.551861  2374.525865         NaN
 71  2388.827862  2396.658864         NaN

 [72 rows x 3 columns],
      start_time     end_time  Unnamed: 2
 0     73.323298    78.679884         NaN
 1     88.445750    92.530530         NaN
 2     96.451569   105.841632         NaN
 3    118.541806   133.723869         NaN
 4    146.918490   150.631915         NaN
 ..          ...          ...         ...
 70  1518.272739  1534.739607         NaN
 71  1548.005215  1554.974170         NaN
 72  1567.928818  1573.389873         NaN
 73  1589.493744  1610.120166         NaN
 74  1622.480669  1627.302822         NaN

 [75 rows x 3 columns],
      start_time     end_time  Unnamed: 2
 0     25.703329    45.163920         NaN
 1     69.595699    85.840987         NaN
 2    123.425830   126.800549         NaN
 3    134.410936   139.169225         NaN
 4    159.845565   164.153305         NaN
 5    175.947261   181.889927         NaN
 6    206.497988   209.408596         NaN
 7    219.687308   222.160103         NaN
 8    247.608210   253.175881         NaN
 9    275.348034   279.310549         NaN
 10   286.309880   290.284770         NaN
 11   312.725892   321.586309         NaN
 12   537.196618   557.888802         NaN
 13   575.456878   578.952559         NaN
 14   584.625113   597.424904         NaN
 15   622.410620   632.525728         NaN
 16   654.959679   657.881431         NaN
 17   660.859219   670.907221         NaN
 18   690.779710   694.522405         NaN
 19   703.127742   713.873158         NaN
 20   770.344767   779.462189         NaN
 21   800.051257   807.812922         NaN
 22   878.409671   887.699727         NaN
 23   910.163203   915.716427         NaN
 24   939.706750   944.859886         NaN
 25   954.003897   957.529687         NaN
 26   967.274002   977.601310         NaN
 27  1000.455971  1006.456361         NaN
 28  1034.724837  1038.598196         NaN
 29  1051.571727  1059.451529         NaN
 30  1086.174856  1090.353409         NaN
 31  1095.743849  1105.968870         NaN
 32  1128.405369  1131.231813         NaN
 33  1136.112447  1141.942340         NaN
 34  1167.766104  1171.438606         NaN
 35  1190.304711  1193.108152         NaN
 36  1198.916938  1203.036502         NaN
 37  1226.594285  1232.257235         NaN
 38  1335.730083  1341.821974         NaN
 39  1373.436751  1381.017927         NaN
 40  1413.346222  1417.131061         NaN
 41  1427.839759  1433.915229         NaN
 42  1461.269260  1465.160559         NaN
 43  1479.810914  1483.300201         NaN
 44  1491.645222  1495.174972         NaN
 45  1525.135417  1530.969971         NaN
 46  1551.209642  1555.072642         NaN
 47  1563.096635  1570.901356         NaN
 48  1593.967088  1597.716571         NaN
 49  1606.973353  1610.648629         NaN
 50  1615.341987  1619.420295         NaN
 51  1662.534585  1674.126626         NaN
 52  1689.784860  1693.884119         NaN
 53  1706.955255  1710.944213         NaN
 54  1718.232799  1722.285778         NaN]

In [14]:
prop_ct = 0
num_csv = len(csv_list)
for s in csv_list:
    length = s['end_time'].iloc[-1]
    #print(length)
    time_in_point = np.sum(s['end_time'] - s['start_time'])
    proportion = time_in_point/length
    prop_ct += proportion
print(prop_ct/num_csv)

0.27463356209967726